@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --dgrey-color: #2B2D42;
  --lgrey1-color: #8D99AE;
  --yellow-color: #F8F32B;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --lgrey2-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: var(--dgrey-color);
  color: var(--white-color);
  text-transform: uppercase;
  padding: 1rem;
}

header a {
  text-decoration: none;
  color: var(--white-color);
  display: block;
}

header h1 {
  letter-spacing: 1rem;
  margin: 1rem 0;
  text-align: center;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: var(--lgrey2-color);
  display: flex;
  flex-direction: column;
}

main .filters {
  margin-bottom: 1rem;
}

.filters form {
  display: block;
}

.filters .query {
  display: flex;
  gap: .5rem
}

.query .title,
.query .clear {
  background-color: var(--lgrey1-color);
  color: var(--black-color);
  padding: .5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.query .title:hover,
.query .clear:hover {
  background-color: var(--dgrey-color);
  color: var(--white-color);
}

.query .clear {
  display: block;
  text-decoration: none;
}

.query input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .5rem .7rem;
  border: 1px solid var(--lgrey1-color);
}

.query input:focus {
  border: 2px solid var(--lgrey1-color);
}

.query .submit {
  background-color: var(--dgrey-color);
  color: var(--white-color);
  padding: .5rem 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.query .submit:hover {
  background-color: var(--lgrey1-color);
  color: var(--black-color);
}

.filters .filter {
  display: none;
  margin-top: .5rem;
  background-color: var(--lgrey1-color);
  border-radius: 5px;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
}

.filters .filter.open {
  display: flex;
}

.filter .form-group {
  width: 300px;
}

.form-group label {
  display: block;
  margin-bottom: .3rem;
}

.form-group input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .5rem .7rem;
  border: 1px solid var(--lgrey2-color);
}

.form-group > input {
  width: 300px;
}

.form-group .input > input {
  width: 144px;
}

.filter .submit {
  border: none;
  background-color: var(--dgrey-color);
  color: var(--white-color);
  border: 1px solid var(--dgrey-color);
  padding: .5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto 0 auto;
}

.filter .submit:hover {
  color: var(--dgrey-color);
  background-color: transparent;
  border: 1px solid var(--dgrey-color);
}

main .render {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main .document {
  width: 402px;
  padding: 1rem;
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

.document .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header a {
  display: block;
  background-color: var(--dgrey-color);
  color: var(--white-color);
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.header a:hover {
  background-color: var(--lgrey1-color);
  color: var(--black-color);
}

.body .authors {
  margin-bottom: 1rem;
}

.body .authors ul {
  list-style: none;
}

.body .doi {
  margin-top: 1rem;
}

.not-found {
  width: 100%;
  display: flex;
}

.not-found .info {
  margin: 4rem auto 0 auto;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--dgrey-color);
  color: var(--white-color);
}